@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

/* font-family: 'Cinzel', serif; */
/* font-family: 'Exo', sans-serif; */

@media (max-width: 767px) {}

@media (min-width: 768px) {

    /* contato-titulo */

    .contato-titulo {
        background-color: #490315;
        padding: 100px 0px;
    }

    .contato-titulo h1 {
        font-family: 'Cinzel', serif;
        font-size: 35px;
        line-height: 35px;
        color: #f2f2f2;
        letter-spacing: 1px;
        font-weight: normal;
    }

    .contato-titulo p {
        color: #f2f2f2;
        font-family: 'Exo', sans-serif;
        font-size: 20px;
        text-align: center;
        line-height: 25px;
        font-weight: bold;
        letter-spacing: 1px;
    }

    /* contato-titulo */

    /* box1 */

    .box1 {
        display: flex;
    }

    .box1 .filho1 {
        width: 40%;
        background-color: #490315;
        padding: 30px 0px;
        border-top: 6px solid #f2f2f2;
        border-left: 6px solid #f2f2f2;
        border-right: 3px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box1 .filho1 h1 {
        color: white;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 1px;
    }

    .box1 .filho2 {
        width: 60%;
        background-color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        border-top: 6px solid #f2f2f2;
        border-left: 3px solid #f2f2f2;
        border-right: 6px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
    }

    .box1 .filho2 a {
        padding: 30px 0px;
        text-decoration: none;
        width: 100%;
        color: #490315;
        text-align: left;
        padding-left: 170px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
        transition: 0.2s;
    }

    .box1 .filho2 a:hover {
        background-color: #f2f2f2;
        transition: 0.2s;
    }

    .box1 .filho2 .fa-whatsapp {
        margin-right: 20px;
        font-size: 23px;
        color: lime;
        font-weight: bold;
        vertical-align: middle;
    }

    /* box1 */

    /* box2 */

    .box2 {
        display: flex;
    }

    .box2 .filho1 {
        width: 40%;
        background-color: #490315;
        padding: 30px 0px;
        border-top: 3px solid #f2f2f2;
        border-left: 6px solid #f2f2f2;
        border-right: 3px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box2 .filho1 h1 {
        color: white;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 1px;
    }

    .box2 .filho2 {
        width: 60%;
        background-color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        border-top: 3px solid #f2f2f2;
        border-left: 3px solid #f2f2f2;
        border-right: 6px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
    }

    .box2 .filho2 a {
        padding: 30px 0px;
        text-decoration: none;
        width: 100%;
        color: #490315;
        text-align: left;
        padding-left: 170px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .box2 .filho2 a:hover {
        background-color: #f2f2f2;
        transition: 0.2s;
    }

    .box2 .filho2 .fa-map-marker-alt {
        margin-right: 20px;
        font-size: 20px;
        vertical-align: middle;
        color: red;
    }

    /* box2 */

    /* box3*/

    .box3 {
        display: flex;
    }

    .box3 .filho1 {
        width: 40%;
        background-color: #490315;
        padding: 30px 0px;
        border-top: 3px solid #f2f2f2;
        border-left: 6px solid #f2f2f2;
        border-right: 3px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box3 .filho1 h1 {
        color: white;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 1px;
    }

    .box3 .filho2 {
        width: 60%;
        background-color: white;
        justify-content: center;
        align-items: center;
        display: flex;
        border-top: 3px solid #f2f2f2;
        border-left: 3px solid #f2f2f2;
        border-right: 6px solid #f2f2f2;
        border-bottom: 6px solid #f2f2f2;
    }

    .box3 .filho2 p {
        padding: 30px 0px;
        text-decoration: none;
        width: 100%;
        color: #490315;
        text-align: left;
        padding-left: 170px;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .box3 .filho2 .fa-clock {
        margin-right: 20px;
        font-size: 20px;
        vertical-align: middle;
        font-weight: bold;
        color: yellow;
    }

    /* box3 */
}