@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

/* font-family: 'Cinzel', serif; */
/* font-family: 'Exo', sans-serif; */

@media (max-width: 767px) {

    /* opcao1 */
    /* .opcao1 {
        background-color: darkcyan;
        display: flex;
        justify-content: left;
    }

    .opcao1 p {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        color: #666;
        font-weight: bold;
        font-size: 12px;
        background-color: #f2f2f2;
        padding: 4px;
        border-radius: 0px 0px 6px 6px;
        margin-left: 20px;
    }

    .opcao1 i {
        margin-right: 5px;
    } */

    /* opcao1 */

    /* titulo e contato */
    .contato {
        background-color: dark;
        padding: 50px 20px;
        background-color: #0C0807;
    }

    .contato h1 {
        font-size: 25px;
        line-height: 25px;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        letter-spacing: 1px;
        margin-bottom: 10px;
        color: white;
    }

    .contato p {
        font-family: 'Exo', sans-serif;
        font-size: 18px;
        line-height: 18px;
        letter-spacing: 1px;
        padding: 0px 20px;
        color: #f2f2f2;
    }

    /* titulo e contato */

    /* .bloco1 */
    .bloco1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 auto;
        background-color: #0C0807;
        padding-bottom: 80px;
    }

    .bloco1a {
        width: 280px;
        margin: 20px;
        border-radius: 5px;
        border: 2px solid #f2f2f2;
        border-radius: 0px;
        background-color: black;
    }

    .bloco1a h1 {
        align-items: center;
        text-align: center;
        background-color: #f2f2f2;
        border-bottom: 1px solid #f2f2f2;
        padding: 15px 0px;
        font-size: 16px;
        color: black;
        font-weight: normal;
        justify-content: left;
        display: flex;
        letter-spacing: 1px;
        font-family: 'Cinzel', serif;
    }

    .bloco1a i {
        font-size: 16px;
        margin: 0px 10px 0px 10px;
    }

    .bloco1a p {
        color: #f2f2f2;
        font-family: 'Exo', sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        font-weight: normal;
        padding: 50px 0px 30px 0px;
    }

    .bloco1a .fa-arrow-right {
        margin: 0px 10px 0px 0px;
        font-size: 18px;
    }

    .bloco1a span {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-weight: normal;
    }

    .parag p {
        width: 100%;
        color: #f2f2f2;
        letter-spacing: 0px;
        font-size: 18px;
        font-weight: normal;
        line-height: 25px;
        text-align: center;
        font-family: 'Exo', sans-serif;
    }

    span a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        padding: 8px 0px;
        margin-bottom: 50px;
        width: 100%;
        text-decoration: none;
        color: black;
        font-weight: normal;
        background-color: #f2f2f2;
        font-size: 18px;
        font-family: 'Exo', sans-serif;
    }

    /* span a:hover {
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, .6);
        transition: 0.5s;
    } */

    /* .bloco1 */

    /* opcao2 */
    /* .opcao2 {
        background-color: slateblue;
        display: flex;
        justify-content: left;
    }

    .opcao2 p {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        color: #666;
        font-weight: bold;
        font-size: 12px;
        background-color: #f2f2f2;
        padding: 4px;
        border-radius: 0px 0px 6px 6px;
        margin-left: 20px;
    }

    .opcao2 i {
        margin-right: 5px;
    } */

    /* opcao2 */

    /* formulario google forms */
    /* .gforms {
        background-color: slateblue;
        padding: 50px 0px 120px 0px;
    }

    .gforms h1 {
        font-size: 25px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        color: #f2f2f2;
        line-height: 25px;
        padding: 0px 5px;
        margin-bottom: 10px;
    }

    .gforms p {
        padding: 0px 10px;
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 100px;
    }

    .gforms a {
        padding: 10px 5px;
        text-decoration: none;
        color: rgba(0, 0, 0, .6);
        font-weight: bold;
        background-color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.5s;
        border: 5px solid #f2f2f2;
        font-size: 13px;
        font-family: 'Open Sans', sans-serif;
    }

    .gforms a:hover {
        background-color: slateblue;
        color: #f2f2f2;
        transition: 0.5s;
        border: 5px solid #f2f2f2;
    }

    .gforms .fa-arrow-right {
        margin-right: 5px;
    }

    .gforms .fa-arrow-left {
        margin-left: 5px;
    } */

    /* formulario google forms */

}

@media (min-width: 768px) {
    /* opcao1 */
    /* .opcao1 {
        background-color: darkcyan;
        display: flex;
        justify-content: left;
    }

    .opcao1 p {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        color: #333;
        background-color: #ccc;
        font-weight: bold;
        font-size: 12px;
        padding: 6px;
        border-radius: 0px 0px 6px 6px;
        margin-left: 20px;
    }

    .opcao1 i {
        margin-right: 5px;
    } */

    /* opcao1 */

    /* titulo e contato */
    .contato {
        width: 100%;
        background-color: dark;
        padding: 100px 0px;
        background-color: #0C0807;
        color: #f2f2f2;
    }

    .contato h1 {
        font-size: 35px;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        letter-spacing: 1px;
    }

    .contato p {
        font-family: 'Exo', sans-serif;
        font-size: 23px;
        font-weight: normal;
        letter-spacing: 1px;
    }

    /* titulo e contato */

    /* .bloco1 */
    .bloco1 {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-start;
        margin: 0 auto;
        background-color: #0C0807;
        padding-bottom: 80px;
    }

    .bloco1a {
        width: 330px;
        height: 350px;
        margin: 10px;
        border: 2px solid #f2f2f2;
        background-color: black;
    }

    .bloco1a h1 {
        align-items: center;
        text-align: center;
        background-color: #f2f2f2;
        border-bottom: 2px solid #f2f2f2;
        padding: 25px 0px;
        font-size: 22px;
        color: rgba(0, 0, 0, .8);
        justify-content: left;
        font-weight: bold;
        display: flex;
        letter-spacing: 1px;
        font-family: 'Cinzel', serif;
        margin-bottom: 40px;
    }

    .bloco1a i {
        font-size: 22px;
        margin: 0px 20px;
    }

    .bloco1a p {
        color: #f2f2f2;
        font-family: 'Exo', sans-serif;
        font-size: 22px;
        font-weight: normal;
        letter-spacing: 1px;
        line-height: 25px;
        padding: 20px 0px 20px 0px;
    }

    .bloco1a .fa-arrow-right {
        margin: 0px 15px 0px 0px;
        font-size: 15px;
    }

    .bloco1a span {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-weight: bold;
    }

    .parag p {
        width: 100%;
        color: #f2f2f2;
        letter-spacing: 1px;
        font-size: 20px;
        font-weight: normal;
        line-height: 25px;
        text-align: center;
        font-family: 'Exo', sans-serif;
    }

    span a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        margin-top: 20px;
        padding: 15px 0px;
        width: 100%;
        text-decoration: none;
        color: black;
        background-color: #f2f2f2;
        letter-spacing: 1px;
        font-size: 16px;
        text-transform: uppercase;
        font-family: 'Exo', sans-serif;
        font-weight: bold;
        transition: 0.2s;
    }

    span a:hover {
        background-color: black;
        color: #f2f2f2;
        transition: 0.2s;
        font-weight: normal;
    }

    /* .bloco1 */

    /* opcao2 */
    /* .opcao2 {
        background-color: slateblue;
        display: flex;
        justify-content: left;
    }

    .opcao2 p {
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        color: #333;
        background-color: #ccc;
        font-weight: bold;
        font-size: 12px;
        padding: 6px;
        border-radius: 0px 0px 6px 6px;
        margin-left: 20px;
    }

    .opcao2 i {
        margin-right: 5px;
    } */

    /* opcao2 */

    /* formulario google forms */
    /* .gforms {
        background-color: slateblue;
        padding: 30px 0px 120px 0px;
    }

    .gforms h1 {
        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 1px;
        color: #f2f2f2;
    }

    .gforms p {
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        letter-spacing: 1px;
        margin-bottom: 100px;
    }

    .gforms a {
        text-decoration: none;
        color: rgba(0, 0, 0, .6);
        font-weight: bold;
        background-color: #f2f2f2;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: 0.5s;
        border: 5px solid #f2f2f2;
        font-size: 15px;
        padding: 15px 0px 15px 15px;
        font-family: 'Open Sans', sans-serif;
    }

    .gforms a:hover {
        background-color: slateblue;
        color: #f2f2f2;
        transition: 0.5s;
        border: 5px solid #f2f2f2;
    }

    .gforms .fa-arrow-right {
        margin-right: 15px;
    }

    .gforms .fa-arrow-left {
        margin-left: 15px;
    } */

    /* formulario google forms */

}