@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Slab:ital,wght@1,100&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,100&display=swap');

@media (max-width: 767px) {

    /* bloco 7*/
    .bloco7 {
        background-color: #0C0807;
        padding: 50px 0px 50px 0px;
    }

    .bloco7 h1 {
        color: white;
        font-family: 'Cinzel', serif;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 1px;
        justify-content: center;
        text-align: center;
        font-weight: normal;
        padding: 0px 10px;
        background-color: #0C0807;
    }

    .bloco7 p {
        color: #f2f2f2;
        margin-bottom: 60px;
        margin-top: 5px;
        padding: 0px 20px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: normal;
        font-size: 18px;
        letter-spacing: 1px;
    }

    .duvidas {
        width: 85%;
        margin: 0 auto;
    }

    .pergunta {
        transition: 0.2s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, 0.7);
        text-align: left;
        letter-spacing: 1px;
        font-size: 13px;
        line-height: 18px;
        font-family: 'Cinzel', serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #FFD700;
        width: calc(100% - 20px);
        padding: 10px;
    }

    .pergunta i {
        margin: 0px 15px 0px 0px;
        border: 1px solid #FFD700;
        color: #FFD700;
        padding: 5px;
        font-weight: normal;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.2s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #FFD700;
        border-right: 2px solid #FFD700;
        border-bottom: 2px solid #FFD700;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        align-items: center;
        justify-content: center;
        color: black;
        box-sizing: border-box;
        font-size: 16px;
        font-weight: normal;
        letter-spacing: 1px;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 21px;
    }

    /* bloco 7*/

}

@media (min-width: 768px) {

    /* bloco 7*/
    .bloco7 {
        background-color: #0C0807;
        padding-top: 60px;
        padding-bottom: 80px;
    }

    .bloco7 h1 {
        color: white;
        font-family: 'Cinzel', serif;
        font-size: 45px;
        letter-spacing: 1px;
        justify-content: center;
        text-align: center;
        font-weight: normal;
        width: 100%;
        background-color: #0C0807;
    }

    .bloco7 p {
        color: #f2f2f2;
        margin-bottom: 60px;
        font-family: 'Josefin Sans', sans-serif;
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 1px;
    }

    .duvidas {
        width: 80%;
        margin: 0 auto;
    }

    .pergunta {
        transition: 0.2s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: black;
        text-align: left;
        letter-spacing: 1px;
        font-size: 16px;
        line-height: 21px;
        font-family: 'Cinzel', serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #FFD700;
        width: calc(100% - 20px);
        padding: 20px 10px;
    }

    .pergunta i {
        margin: 0px 30px;
        border: 1px solid #FFD700;
        color: #FFD700;
        padding: 5px;
        font-weight: normal;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.2s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #FFD700;
        border-right: 2px solid #FFD700;
        border-bottom: 2px solid #FFD700;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: center;
        align-items: center;
        justify-content: center;
        color: rgba(0, 0, 0, 0.8);
        box-sizing: border-box;
        font-size: 20px;
        font-weight: bold;
        letter-spacing: 1px;
        font-family: 'Josefin Sans', sans-serif;
        line-height: 25px;
    }

    /* bloco 7*/

}