@import url('https://fonts.googleapis.com/css2?family=Cinzel&family=Josefin+Slab:ital,wght@1,100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:ital,wght@1,100&display=swap');

@media (max-width: 767px) {
    .blocob {
        display: none;
    }

    /* bloco-cel */
    .bloco-cel {
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: #0C0807;
    }

    .bloco-cel img {
        display: flex;
        width: 100%;
    }

    /* bloco-cel */

    /* bloco 1 continuação */

    .blocoa {
        width: 100%;
        background-color: #0C0807;
        flex-direction: column;
        display: flex;
        justify-content: top;
        align-items: center;
    }

    .blocoa h1 {
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 25px;
        color: white;
        margin: 50px 0px;
        text-align: center;
        letter-spacing: 1px;
    }

    .blocoa p {
        line-height: 25px;
        color: #f2f2f2;
        text-align: center;
        margin: 0 auto;
        font-size: 20px;
        padding: 0px 20px;
        font-weight: normal;
        font-family: 'Josefin Slab', serif;
        margin-bottom: 0px;
        letter-spacing: 1px;
        border-bottom: 1px solid red;
        padding-bottom: 5px;
    }

    .blocoa a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        margin: 50px 0px;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;
        background-color: white;
        color: black;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 13px;
        font-family: 'Cinzel', serif;
        transition: 0.2s;
        border: 2px solid white;
    }

    .blocoa .fa-rocket {
        font-size: 13px;
        margin-right: 10px;
    }

    .blocoa a:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
        transition: 0.2s;
    }

    /* bloco 1 continuação */

    /* bloco div titulo */
    .titulo {
        width: 100%;
        background-color: #f2f2f2;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 50px 0px 50px 0px;
    }

    .titulo h1 {
        color: black;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 25px;
        margin: 0px 20px;
        letter-spacing: 1px;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 25px;
    }

    /* bloco div titulo */

    /* bloco 4 */
    .bloco4 {
        width: 100%;
        background-color: #0C0807;
        display: flex;
        height: 100%;
        margin-bottom: 50px;
    }

    .paragrafo1 {
        width: 100%;
    }

    .paragrafo1 {
        justify-content: top;
        align-items: top;
        width: 100%;
        background-color: #f2f2f2;
    }

    .paragrafo1 p {
        padding: 0px 20px;
        color: black;
        font-family: 'Josefin Slab', serif;
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 1px;
        line-height: 25px;
        text-align: left;
        margin-bottom: 50px;
    }

    .bloco4 a {
        text-align: center;
        align-items: center;
        justify-content: center;
        padding: 10px;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;
        background-color: black;
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 13px;
        font-family: 'Cinzel', serif;
        transition: 0.2s;
        border: 2px solid black;
    }

    .bloco4 .fa-lightbulb {
        font-size: 13px;
        margin-right: 10px;
    }

    .bloco4 a:hover {
        box-shadow: none;
        border: 2px solid black;
        color: black;
        background-color: white;
        transition: 0.2s;
    }

    /* bloco 4 */

    /* bloco 5 */

    .bloco5 {
        background-color: black;
        margin-top: 0px;
    }

    .bloco5 .blococ,
    .blocod {
        width: 100%;
    }

    .blococ {
        width: 100%;
        background-color: #040402;
    }

    .blococ img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        object-fit: cover;
    }

    .blocod {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .blocod2 {
        padding: 0px 20px;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .blocod h1 {
        font-family: 'Cinzel', serif;
        font-size: 20px;
        line-height: 25px;
        letter-spacing: 1px;
        padding: 50px 20px;
        font-weight: normal;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .blocod2 h2 {
        font-family: 'Josefin Slab', serif;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 5px 0px;
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        background-color: #FFD700;
        color: white;
        transition: 0.2s;
        font-weight: bold;
    }

    .blocod2 h2:hover {
        text-decoration: none;
        background-color: white;
        color: black;
        transition: 0.2s;
    }

    .blocod2 a {
        text-decoration: none;
    }

    .bloco5 .fa-arrow-right {
        margin-right: 10px;
        margin-left: 10px;
        vertical-align: middle;
        font-size: 18px;
        margin-bottom: 1px;
    }

    /* bloco 5 */

    /* bloco 5 link */

    .bloco5-link {
        background-color: black;
        padding-bottom: 50px;
    }

    .bloco5-link .fa-clock {
        margin-right: 10px;
        font-size: 13px;
    }

    .bloco5-link a {
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: white;
        color: black;
        padding: 10px;
        display: flex;
        width: 85%;
        border: 2px solid white;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }

    .bloco5-link a:hover {
        transition: 0.2s;
        background-color: black;
        color: white;
    }

    /* bloco 5 link */

    /* bloco2 */
    .bloco2 {
        padding-top: 50px;
        width: 100%;
        background-color: #0C0807;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloco2 h1 {
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        margin: 0px 20px 50px 20px;
        font-size: 25px;
        line-height: 30px;
    }

    .bloco2 p {
        color: #f2f2f2;
        font-weight: normal;
        font-family: 'Josefin Slab', serif;
        line-height: 23px;
        font-size: 18px;
        letter-spacing: 1px;
        padding: 0px 20px;
        text-align: left;
        margin: 0 auto;
    }

    .bloco2 a {
        display: flex;
        align-items: center;
        background-color: white;
        color: black;
        padding: 10px;
        text-decoration: none;
        font-size: 13px;
        transition: 0.2s;
        margin: 50px 0px;
        font-weight: bold;
        border: 2px solid white;
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
        text-align: center;
    }

    .bloco2 .fa-check-circle {
        font-size: 13px;
        margin-right: 10px;
    }

    .bloco2 a:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
        transition: 0.2s;
    }

    /* bloco2 */
}

@media (min-width: 768px) {

    .bloco-cel {
        display: none;
    }

    /* bloco1 */
    .blocob {
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        background-color: #0C0807;
    }

    .blocob img {
        display: flex;
        width: 100%;
    }

    /* bloco1 */

    /* bloco 1 continuação */

    .blocoa {
        width: 100%;
        background-color: #0C0807;
        flex-direction: column;
        display: flex;
        justify-content: top;
        align-items: center;
    }

    .blocoa h1 {
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 45px;
        color: white;
        margin-top: 100px;
        text-align: center;
        margin-bottom: 50px;
        letter-spacing: 1px;
    }

    .blocoa p {
        line-height: 35px;
        color: #f2f2f2;
        text-align: center;
        margin: 0 auto;
        font-size: 30px;
        padding: 0px 30px;
        font-family: 'Josefin Slab', serif;
        margin-bottom: 50px;
        letter-spacing: 1px;
        border-bottom: 1px solid red;
        padding-bottom: 10px;
    }

    .blocoa a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        margin-bottom: 100px;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;
        background-color: white;
        color: black;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Cinzel', serif;
        transition: 0.2s;
        /* text-transform: uppercase; */
        border: 2px solid white;
    }

    .blocoa .fa-rocket {
        font-size: 15px;
        margin-right: 15px;
    }

    .blocoa a:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
        transition: 0.2s;
    }

    /* bloco 1 continuação */

    /* bloco div titulo */
    .titulo {
        width: 100%;
        background-color: #f2f2f2;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 100px 0px 50px 0px;
    }

    .titulo h1 {
        color: black;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        font-size: 45px;
        margin: 0px 20px;
        letter-spacing: 1px;
        text-align: center;
        justify-content: center;
        align-items: center;
        line-height: 45px;
    }

    /* bloco div titulo */

    /* bloco 4 */
    .bloco4 {
        width: 100%;
        background-color: #0C0807;
        display: flex;
        height: 100%;
    }

    .paragrafo1 {
        width: 100%;
    }

    .paragrafo1 {
        justify-content: top;
        align-items: top;
        padding: 0px 100px;
        background-color: #f2f2f2;
    }

    .paragrafo1 p {
        width: 100%;
        color: rgba(0, 0, 0, 0.8);
        font-family: 'Josefin Slab', serif;
        font-weight: bold;
        font-size: 25px;
        letter-spacing: 1px;
        line-height: 30px;
        text-align: left;
    }

    .bloco4 a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        width: 43%;
        margin-top: 50px;
        margin-bottom: 100px;
        text-decoration: none;
        cursor: pointer;
        text-decoration: none;
        background-color: black;
        color: white;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 15px;
        font-family: 'Cinzel', serif;
        transition: 0.2s;
        border: 2px solid black;
    }

    .bloco4 .fa-lightbulb {
        font-size: 15px;
        margin-right: 20px;
    }

    .bloco4 a:hover {
        box-shadow: none;
        border: 2px solid black;
        color: black;
        background-color: white;
        transition: 0.2s;
    }

    /* bloco 4 */



    /* bloco 5 */

    .bloco5 {
        background-color: black;
        display: flex;

    }

    .bloco5 .blococ,
    .blocod {
        width: 50%;
    }

    .blococ {
        width: 100%;
        background-color: #040402;
    }

    .blococ img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        object-fit: cover;
    }

    .blocod {
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .blocod2 {
        width: 70%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .blocod h1 {
        font-family: 'Cinzel', serif;
        font-size: 25px;
        line-height: 25px;
        letter-spacing: 1px;
        padding-top: 30px;
        padding-bottom: 50px;
        padding-left: 10px;
        padding-right: 10px;
        font-weight: normal;
        justify-content: center;
        align-items: center;
        text-align: center;
        color: white;
    }

    .blocod2 h2 {
        font-family: 'Josefin Slab', serif;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 5px 0px;
        display: flex;
        width: 100%;
        align-items: center;
        text-align: center;
        background-color: #FFD700;
        color: white;
        transition: 0.2s;
        font-weight: bold;
    }

    .blocod2 h2:hover {
        text-decoration: none;
        background-color: white;
        color: black;
        transition: 0.2s;
    }

    .blocod2 a {
        text-decoration: none;
    }

    .bloco5 .fa-arrow-right {
        margin-right: 15px;
        margin-left: 15px;
        vertical-align: middle;
        font-size: 20px;
        margin-top: 1px;
    }

    /* bloco 5 */

    /* bloco 5 link */

    .bloco5-link {
        background-color: black;
        padding-bottom: 120px;
        padding-top: 30px;
    }

    .bloco5-link .fa-clock {
        margin-right: 15px;
    }

    .bloco5-link a {
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
        font-size: 15px;
        font-weight: bold;
        text-decoration: none;
        color: white;
        background-color: white;
        color: black;
        padding: 15px;
        /* display: flex;
        width: 50%; */
        position: relative;
        border: 2px solid white;
        margin: 0 auto;
        text-align: center;
        align-items: center;
        justify-content: center;
        transition: 0.2s;
    }

    .bloco5-link a:hover {
        transition: 0.2s;
        background-color: black;
        color: white;
    }

    /* bloco 5 link */

    /* bloco2 */
    .bloco2 {
        padding: 100px 0px 100px 0px;
        width: 100%;
        background-color: #0C0807;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloco2 h1 {
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Cinzel', serif;
        font-weight: normal;
        margin: 0px 20px 50px 20px;
        font-size: 45px;
        line-height: 55px;
    }

    .bloco2 p {
        color: #f2f2f2;
        font-family: 'Josefin Slab', serif;
        line-height: 30px;
        font-size: 25px;
        letter-spacing: 1px;
        width: 80%;
        text-align: left;
        margin: 0 auto;
    }

    .bloco2 a {
        display: flex;
        align-items: center;
        background-color: white;
        color: black;
        padding: 15px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.2s;
        margin-top: 50px;
        font-weight: bold;
        /* text-transform: uppercase; */
        border: 2px solid white;
        font-family: 'Cinzel', serif;
        letter-spacing: 1px;
        text-align: center;
    }

    .bloco2 .fa-check-circle {
        font-size: 15px;
        margin-right: 15px;
    }

    .bloco2 a:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
        transition: 0.2s;
    }

    /* bloco2 */
}