@media (max-width: 767px) {

    /* font-family: 'Open Sans', sans-serif; */
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Poppins', sans-serif; */

    /* bloco1 */

    .box-principal {
        display: none;
    }

    .bloco1 {
        width: 100%;
        background-image: linear-gradient(130deg, cyan, blue);
    }

    .blocoa {
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: top;
        padding-top: 50px;
        align-items: center;
        width: 100%;
    }

    .blocoa h1 {
        font-size: 25px;
        color: white;
        text-align: left;
        margin-bottom: 10px;
        letter-spacing: 1px;
    }

    .blocoa p {
        letter-spacing: 1px;
        font-family: 'Montserrat', sans-serif;
        line-height: 25px;
        color: #f2f2f2;
        text-align: left;
        max-width: 100%;
        margin: 0px 20px;
        text-align: start;
        font-size: 15px;
        border-bottom: 1px solid cyan;
    }

    .blocoa a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 10px;
        margin-bottom: 50px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 50px;
        text-decoration: none;
        background-color: white;
        color: blue;
        letter-spacing: 1px;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
        text-transform: uppercase;
        border: 5px solid white;
    }

    .blocoa .fa-rocket {
        font-size: 12px;
        margin-right: 15px;
    }

    .blocoa a:hover {
        background-color: blue;
        color: #f2f2f2;
        border: 5px solid #f2f2f2;
        transition: 0.5s;
    }

    .blocob {
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .blocob img {
        width: 100%;
    }

    /* bloco1 */

    /* bloco2 */
    .bloco2 {
        padding: 50px 20px 0px 20px;
        background-color: #ff0099;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloco2 h1 {
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin-bottom: 50px;
        font-size: 25px;
    }

    .bloco2 p {
        color: #f2f2f2;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        line-height: 25px;
        width: 100%;
        height: 100%;
        text-align: left;
    }

    .bloco2 a {
        display: flex;
        align-items: center;
        background-color: white;
        color: #ff0099;
        padding: 15px 10px;
        text-decoration: none;
        font-size: 10px;
        transition: 0.5s;
        border-radius: 50px;
        margin: 50px 0px;
        text-transform: uppercase;
        border: 5px solid white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }

    .bloco2 .fa-check-circle {
        font-size: 12px;
        margin-right: 15px;
    }

    .bloco2 a:hover {
        background-color: #ff0099;
        color: white;
        border: 5px solid white;
        transition: 0.5s;
    }

    /* bloco2 */



    /* apresentação das soluções */

    .box-principal-cel {
        width: 100%;
        padding-bottom: 50px;
        background-color: black;
    }

    .box-img-cel {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-img-cel img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box-texto-cel {
        width: 100%;
        background-color: #040203;
    }

    .box-texto-cel h1 {
        padding: 40px 0px 10px 0px;
        text-transform: uppercase;
        color: #f2f2f2;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 2px;
        font-size: 20px;
    }

    .box-texto-cel p {
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        letter-spacing: 1px;
    }

    .box-texto-cel a {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 80px;
        display: flex;
        text-decoration: none;
        color: black;
        background-color: #f2f2f2;
        padding: 10px;
        width: 80%;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 20px;
        letter-spacing: 1px;
        font-size: 13px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.3s;
        text-transform: uppercase;
        border: 5px solid #f2f2f2;
    }

    .box-texto-cel a:hover {
        transition: 0.3s;
        border: 5px solid #f2f2f2;
        background-color: black;
        color: #f2f2f2;
    }

    .box-texto-cel .fa-bolt {
        margin-right: 15px;
    }

    /* apresentação das soluções celular*/





    /* imagem1 */

    .imagem1-pc {
        display: none;
    }

    .imagem2-pc {
        display: none;
    }

    /* .imagem2-cel {
        display: none;
    } */

    .imagem1-cel {
        width: 100%;
        background-color: #00C475;
    }

    .imagem1-cel img {
        max-width: 100%;
    }

    .bot1-cel {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imagem1-cel a {
        display: flex;
        align-items: center;
        background-color: #f2f2f2;
        color: #00C475;
        padding: 10px 3px;
        text-decoration: none;
        font-size: 10px;
        transition: 0.5s;
        border-radius: 50px;
        text-transform: uppercase;
        border: 5px solid #f2f2f2;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
        margin: 50px 0px;
    }

    .imagem1-cel a:hover {
        background-color: #00C475;
        color: #f2f2f2;
        border: 5px solid #f2f2f2;
        transition: 0.5s;
    }

    .imagem1-cel .fa-bullhorn {
        font-size: 12px;
        margin-right: 10px;
    }

    /* imagem1 */

    /* imagem2 */

    .imagem2-cel {
        width: 100%;
        background-color: #00C2F5;
    }

    .imagem2-cel img {
        max-width: 100%;
    }

    .bot2-cel {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imagem2-cel a {
        display: flex;
        align-items: center;
        background-color: white;
        color: #00C2F5;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 10px;
        transition: 0.5s;
        border-radius: 50px;
        text-transform: uppercase;
        border: 5px solid white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
        margin: 50px 0px;
    }

    .imagem2-cel a:hover {
        background-color: #00C2F5;
        color: white;
        border: 5px solid white;
        transition: 0.5s;
    }

    .imagem2-cel .fa-plus-circle {
        font-size: 12px;
        margin-right: 15px;
    }

    /* imagem2 */

    /* bloco div titulo */
    .titulo {
        width: 100%;
        background-color: #1a1a1a;
        align-items: center;
        padding-top: 50px;
        text-align: center;
        justify-content: center;
    }

    .titulo h1 {
        padding: 0px 20px;
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 25px;
        letter-spacing: 1px;
    }

    /* bloco div titulo */

    /* bloco 4 */
    .bloco4 {
        width: 100%;
        background-color: #1a1a1a;
        padding: 50px 0px 0px 0px;
    }

    .bloco4 .paragrafo1 {
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        display: flex;
        position: relative;
    }

    .bloco4 .paragrafo1 p {
        width: 100%;
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        margin-top: -6px;
        letter-spacing: 1px;
        line-height: 25px;
        text-align: left;
        justify-content: center;
        align-items: center;
        padding: 0px 20px;
    }

    .bloco4 .paragrafo2 {
        width: 100%;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        padding: 160px 0px 0px 0px;
    }

    .bloco4 .paragrafo2 img {
        width: 100%;
    }

    .botao {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 65px;
        position: absolute;
        top: 100%;
    }

    .botao a {
        align-items: center;
        justify-content: center;
        text-align: center;
        padding: 15px 10px;
        display: flex;
        display: inline;
        cursor: pointer;
        border-radius: 50px;
        text-decoration: none;
        background-color: black;
        color: #ff0099;
        letter-spacing: 1px;
        font-size: 10px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
        text-transform: uppercase;
        border: 5px solid #ff0099;
    }

    .botao .fa-lightbulb {
        font-size: 12px;
        margin-right: 15px;
    }

    .botao a:hover {
        box-shadow: none;
        border: 5px solid white;
        color: white;
        transition: 0.5s;
    }

    /* bloco 4 */
}

@media (min-width: 768px) {

    .box-principal-cel {
        display: none;
    }

    /* bloco1 */
    .bloco1 {
        display: flex;
        width: 100%;
        background-image: linear-gradient(130deg, cyan, blue);
    }

    .blocoa {
        flex-direction: column;
        font-family: 'Poppins', sans-serif;
        display: flex;
        justify-content: top;
        padding-top: 40px;
        align-items: center;
        width: 50%;
    }

    .blocoa h1 {
        font-size: 45px;
        color: white;
        text-align: center;
        margin-bottom: 30px;
        letter-spacing: 2px;
        padding: 0px 10px;
    }

    .blocoa p {
        line-height: 35px;
        color: #f2f2f2;
        text-align: left;
        margin: 0 auto;
        max-width: 80%;
        text-align: center;
        font-size: 20px;
        font-family: 'Montserrat', sans-serif;
        margin-bottom: 30px;
        letter-spacing: 1px;
        border-bottom: 1px solid cyan;
        padding-bottom: 5px;
    }

    .blocoa a {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        margin-bottom: 50px;
        text-decoration: none;
        cursor: pointer;
        border-radius: 50px;
        text-decoration: none;
        background-color: white;
        color: blue;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
        text-transform: uppercase;
        border: 5px solid white;
    }

    .blocoa .fa-rocket {
        font-size: 20px;
        margin-right: 15px;
    }

    .blocoa a:hover {
        background-color: blue;
        color: #f2f2f2;
        border: 5px solid #f2f2f2;
        transition: 0.5s;
    }

    .blocob {
        width: 50%;
        height: 100%;
    }

    .blocob img {
        display: flex;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* bloco1 */

    /* bloco2 */
    .bloco2 {
        padding: 100px 0px 80px 0px;
        width: 100%;
        background-color: #ff0099;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .bloco2 h1 {
        color: white;
        text-align: center;
        letter-spacing: 1px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        margin: 0px 20px 100px 20px;
        font-size: 47px;
    }

    .bloco2 p {
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 35px;
        font-size: 20px;
        letter-spacing: 1px;
        width: 85%;
        text-align: left;
        margin: 0 auto;
    }

    .bloco2 a {
        display: flex;
        align-items: center;
        background-color: white;
        color: #ff0099;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
        border-radius: 50px;
        margin-top: 80px;
        text-transform: uppercase;
        border: 5px solid white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
    }

    .bloco2 .fa-check-circle {
        font-size: 20px;
        margin-right: 15px;
    }

    .bloco2 a:hover {
        background-color: #ff0099;
        color: white;
        border: 5px solid white;
        transition: 0.5s;
    }

    /* bloco2 */

    /* apresentação das soluções */

    .box-principal {
        width: 100%;
        display: flex;
        height: 600px;
    }

    .box-img {
        width: 65%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .box-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .box-texto {
        width: 35%;
        background-color: #0C0807;
    }

    .box-texto h1 {
        padding: 30px 0px;
        text-transform: uppercase;
        color: #f2f2f2;
        font-family: 'Poppins', sans-serif;
        letter-spacing: 2px;
        font-size: 35px;
    }

    .box-texto p {
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        letter-spacing: 1px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        padding-top: 30px;
    }

    .box-texto a {
        align-items: center;
        justify-content: center;
        text-align: center;
        margin-top: 130px;
        display: flex;
        text-decoration: none;
        color: black;
        background-color: #f2f2f2;
        padding: 15px;
        width: 80%;
        border-radius: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 120px;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.3s;
        text-transform: uppercase;
        border: 5px solid #f2f2f2;
    }

    .box-texto a:hover {
        transition: 0.3s;
        border: 5px solid #f2f2f2;
        background-color: black;
        color: #f2f2f2;
    }

    /* apresentação das soluções */

    /* imagem1 */

    .imagem1-cel {
        display: none;
    }

    .imagem2-cel {
        display: none;
    }

    .imagem1-pc {
        width: 100%;
        background-color: #38377E;
        padding-top: 50px;
    }

    .imagem1-pc img {
        max-width: 90%;
    }

    .bot1-pc {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imagem1-pc a {
        display: flex;
        align-items: center;
        background-color: white;
        color: #38377E;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
        border-radius: 50px;
        text-transform: uppercase;
        border: 5px solid white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
        margin: 80px 0px;
    }

    .imagem1-pc a:hover {
        background-color: #38377E;
        color: white;
        border: 5px solid white;
        transition: 0.5s;
    }

    .imagem1-pc .fa-bullhorn {
        font-size: 20px;
        margin-right: 15px;
    }

    /* imagem1 */

    /* imagem2 */

    .imagem2-pc {
        width: 100%;
        background-color: #00C2F5;
    }

    .imagem2-pc img {
        max-width: 100%;
    }

    .bot2-pc {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .imagem2-pc a {
        display: flex;
        align-items: center;
        background-color: white;
        color: #00C2F5;
        padding: 15px 20px;
        text-decoration: none;
        font-size: 15px;
        transition: 0.5s;
        border-radius: 50px;
        text-transform: uppercase;
        border: 5px solid white;
        font-family: 'Montserrat', sans-serif;
        letter-spacing: 1px;
        text-align: center;
        margin: 50px 0px;
    }

    .imagem2-pc a:hover {
        background-color: #00C2F5;
        color: white;
        border: 5px solid white;
        transition: 0.5s;
    }

    .imagem2-pc .fa-plus-circle {
        font-size: 20px;
        margin-right: 15px;
    }

    /* imagem2 */

    /* bloco div titulo */
    .titulo {
        width: 100%;
        background-color: #1a1a1a;
        align-items: center;
        padding-top: 100px;
    }

    .titulo h1 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 47px;
        margin: 0px 20px 0px 20px;
        letter-spacing: 1px;
    }

    /* bloco div titulo */

    /* bloco 4 */
    .bloco4 {
        width: 100%;
        background-color: #1a1a1a;
        display: flex;
        height: 100%;
        padding: 100px 0px 230px 0px;
    }

    .paragrafo1,
    .paragrafo2 {
        width: 50%;
    }

    .paragrafo1 {
        justify-content: top;
        align-items: top;
    }

    .paragrafo1 p {
        width: 100%;
        padding-left: 50px;
        color: #f2f2f2;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        margin-top: -6px;
        letter-spacing: 1px;
        line-height: 35px;
        text-align: left;
    }

    .paragrafo2 {
        text-align: right;
        padding-right: 50px;
    }

    .paragrafo2 img {
        width: 70%;
        border-radius: 10px;
        object-fit: cover;
    }

    .bloco4 a {
        margin-top: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px 20px;
        margin-left: 50px;
        text-align: center;
        position: absolute;
        text-decoration: none;
        cursor: pointer;
        border-radius: 50px;
        text-decoration: none;
        background-color: #1a1a1a;
        color: #ff0099;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: 'Montserrat', sans-serif;
        transition: 0.5s;
        text-transform: uppercase;
        border: 5px solid #ff0099;
    }

    .bloco4 .fa-lightbulb {
        font-size: 20px;
        margin-right: 15px;
    }

    .bloco4 a:hover {
        box-shadow: none;
        border: 5px solid white;
        color: white;
        transition: 0.5s;
    }

    /* bloco 4 */

}