@media (max-width: 767px) {
    main {
        background-color: deepskyblue;
    }

    /*  bloco5-cel */

    .bloco5-cel {
        background-color: deepskyblue;
        padding-bottom: 0px;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .bloco5-cel-titulo h1 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        padding-top: 50px;
        margin: 0px 10px 50px 10px;
        font-size: 30px;
    }

    .bloco5-cel-titulo p {
        margin: 0 auto;
        padding: 40px 20px;
        color: rgba(0, 0, 0, 0.8);
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-size: 15px;
        justify-content: center;
        align-items: center;
        text-align: left;
        font-weight: bold;
        line-height: 20px;
        background-color: #f2f2f2;
    }

    /*  bloco5-cel */

    /* bloco 6 */
    .bloco6pai {
        width: 100%;
        padding-top: 50px;
    }

    .bloco6filha1 {
        width: 100%;
        background-color: black;
    }

    .bloco6filha1 img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .duvidas {
        padding: 15px;

    }

    .duvidas h1 {
        color: #f2f2f2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 20px 10px 50px 10px;
        text-align: center;
        margin: 0px 10px;
    }

    .pergunta {
        transition: 0.5s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, .7);
        text-align: left;
        letter-spacing: 1px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #FFD700;
        border-radius: 10px 10px 0px 0px;
        width: calc(100% - 20px);
        padding: 10px;
        text-transform: uppercase;
    }

    .pergunta i {
        margin: 0px 15px 0px 10px;
        border: 2px solid #FFD700;
        color: #FFD700;
        padding: 2px;
        font-size: 15px;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.5s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #FFD700;
        border-right: 2px solid #FFD700;
        border-bottom: 2px solid #FFD700;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        color: rgba(0, 0, 0, .8);
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }

    /* bloco 6 */



    /* bloco 7 */
    .bloco7pai {
        width: 100%;
        padding-top: 50px;
    }

    .bloco7filha1 {
        width: 100%;
        background-color: black;
    }

    .bloco7filha1 img {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .duvidas {
        padding: 15px;

    }

    .duvidas h1 {
        color: #f2f2f2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 20px;
        letter-spacing: 1px;
        padding: 20px 10px 50px 10px;
        text-align: center;
        margin: 0px 10px;
    }

    .pergunta {
        transition: 0.5s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, .7);
        text-align: left;
        letter-spacing: 1px;
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #FFD700;
        border-radius: 10px 10px 0px 0px;
        width: calc(100% - 20px);
        padding: 10px;
        text-transform: uppercase;
    }

    .pergunta i {
        margin: 0px 15px 0px 10px;
        border: 2px solid #FFD700;
        color: #FFD700;
        padding: 2px;
        font-size: 15px;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.5s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #FFD700;
        border-right: 2px solid #FFD700;
        border-bottom: 2px solid #FFD700;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        color: rgba(0, 0, 0, .8);
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }

    /* bloco 7 */

}

@media (min-width: 768px) {

    /*  bloco5-cel */
    main {
        background-color: deepskyblue;
    }

    .bloco5-cel {
        background-color: deepskyblue;
        width: 100%;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .bloco5-cel-titulo h1 {
        color: white;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        letter-spacing: 1px;
        padding-top: 80px;
        margin: 0px 20px 70px 20px;
        font-size: 45px;
    }

    .bloco5-cel-titulo p {
        margin: 0 auto;
        padding: 50px;
        margin-bottom: 100px;
        color: rgba(0, 0, 0, 0.8);
        font-family: Arial, Helvetica, sans-serif;
        letter-spacing: 1px;
        font-weight: bold;
        font-size: 20px;
        justify-content: center;
        align-items: center;
        text-align: left;
        line-height: 30px;
        background-color: #f2f2f2;
    }

    /*  bloco5-cel */

    /* bloco 6 */
    .bloco6pai {
        width: 100%;
        display: flex;
    }

    .bloco6filha1 {
        width: 50%;
    }

    .duvidas {
        padding: 0px 30px;
        margin: 0 auto;
        width: 50%;
    }

    .duvidas h1 {
        color: #f2f2f2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        letter-spacing: 1px;
        padding-bottom: 80px;
    }

    .bloco6filha1 {
        background-color: black;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .bloco6filha1 img {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .pergunta {
        transition: 0.5s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, .7);
        text-align: left;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #FFD700;
        border-radius: 10px 10px 0px 0px;
        width: calc(100% - 20px);
        padding: 15px 10px;
        text-transform: uppercase;
    }

    .pergunta i {
        margin: 0px 15px 0px 10px;
        border: 2px solid #FFD700;
        color: #FFD700;
        padding: 2px;
        font-size: 15px;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.5s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #FFD700;
        border-right: 2px solid #FFD700;
        border-bottom: 2px solid #FFD700;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        color: rgba(0, 0, 0, .8);
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }

    /* bloco 6 */



    /* bloco 7 */
    .bloco7pai {
        width: 100%;
        display: flex;
    }

    .bloco7filha1 {
        width: 50%;
    }

    .duvidas {
        padding: 0px 30px;
        margin: 0 auto;
        width: 50%;
    }

    .duvidas h1 {
        color: #f2f2f2;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 30px;
        letter-spacing: 1px;
        padding-bottom: 80px;
    }

    .bloco7filha1 {
        background-color: black;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
    }

    .bloco7filha1 img {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .pergunta {
        transition: 0.5s;
        cursor: pointer;
        background-color: #f2f2f2;
        color: rgba(0, 0, 0, .7);
        text-align: left;
        letter-spacing: 1px;
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        display: flex;
        align-items: center;
        border: 2px solid #FFD700;
        border-radius: 10px 10px 0px 0px;
        width: calc(100% - 20px);
        padding: 15px 10px;
        text-transform: uppercase;
    }

    .pergunta i {
        margin: 0px 15px 0px 10px;
        border: 2px solid #FFD700;
        color: #FFD700;
        padding: 2px;
        font-size: 15px;
    }

    .pergunta:hover {
        background-color: white;
        transition: 0.5s;
    }

    .resposta {
        text-align: center;
        width: 100%;
        display: none;
        background-color: white;
        border-left: 2px solid #FFD700;
        border-right: 2px solid #FFD700;
        border-bottom: 2px solid #FFD700;
    }

    .resposta p {
        margin: 0 auto;
        padding: 20px;
        text-align: left;
        color: rgba(0, 0, 0, .8);
        width: 100%;
        box-sizing: border-box;
        font-size: 15px;
        letter-spacing: 1px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 20px;
    }

    /* bloco 7 */
}